services:

  front-envoy:
    image: envoyproxy/envoy:distroless-v1.36.4
    volumes:
    - ./config/envoyextproc.yaml:/envoy.yaml
    ports:
    - "8000:8000"
    command:
    - -c
    - /envoy.yaml
    depends_on:
      waf-service:
        condition: service_started
      upstream-service:
        condition: service_started

  waf-service:
    build:
      dockerfile: Dockerfile
    volumes:
    - ./default.conf:/default.conf
    command:
    - /waf
    - -directives=/default.conf

  upstream-service:
    image: registry.k8s.io/gateway-api/echo-basic:v20251204-v1.4.1

